appdirs==1.4.4
asyncgui==0.6.1
asynckivy==0.6.2
build==1.2.1
buildozer==1.5.1.dev0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
Cython==0.29.37
docutils==0.21.2
exceptiongroup==1.2.1
idna==3.7
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
MarkupSafe==2.1.5
materialyoucolor==2.0.9
packaging==24.1
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
Pygments==2.18.0
pyproject_hooks==1.1.0
python-for-android==2024.1.21
requests==2.32.3
sh==1.14.3
toml==0.10.2
tomli==2.0.1
urllib3==2.2.1
